.filter-button {
    background-color: #D1262B;
    height: 44px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 4px;
    box-sizing: border-box;
    font-size: 1.7em;
    color: white;
    border: none;
    margin-bottom: 13px;
    margin-left: 10px;
    border: 1px solid #ce2932;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-angle-down {
    margin-left: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.filter-item {
    background:none;
    border:none;
    margin:0;
    padding:0;
    width: 100%;
    text-align: left;
    font-size: 16px;
}